<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
 
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  {% for message in messages %}
  <div class="container-fluid p-0"  id="msg" ><b>
    <div class="alert alert-{{ message.tags }} " role="alert" style="color:red;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
      </button>
      {{ message }} 
    </div></b>
  </div>
  {% endfor %}
  <h2>Login</h2>
  <form id="login-form" method="POST" action="login/">
    <p>
    <input type="email" id="email" name="email" placeholder="Email Address" required>
    </p>
    <p>
    <input type="text" id="password" name="password" placeholder="Password" required>
    </p>
    <p>
    <input type="submit" id="login"  value="Login">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="{% url 'employee:createuser' %}">Create Account</a><p>
  </div>
</div>

  
</body>
</html>
